/** 
* @author: Alexander Chi
* @description:
* @date: 02/Septiembre/2021
**/ 
/** Text **/
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

/** Background gradient **/
$softViolet: hsla(273, 75%, 66%, 1);
$softBlue: hsla(240, 73%, 65%, 1);

/** Neutral - Text **/
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);
$darkGrayishBlueOpa: hsla(240, 6%, 50%, 0.5);

/** Dividers **/
$lightGrayishBlue: hsl(240, 5%, 91%);