/** 
* @author: Alexander Chi
* @description:
* @date: 02/Septiembre/2021
**/ 
/** Text **/
$veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

/** Background gradient **/
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

/** Neutral - Text **/
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 6%, 50%);

/** Dividers **/
$lightGrayishBlue: hsl(240, 5%, 91%);