/** 
* @author: Alexander Chi
* @description:
* @date: 02/Septiembre/2021
**/ 
@import './assets/scss/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$fontSize: 12px;
$width: 800px;
* { 
    padding: 0;
    margin: 0;
    font: { 
        family: 'Kumbh Sans';
    };
}

div {
    size: $fontSize;
    color: $darkGrayishBlue;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, $softViolet 0%, $softBlue 100%); 
}

.card__faq {
    width: 850px;
    height: 400px;
    display: flex; 
    align-items: center;
    background: {
        color: $lightGrayishBlue;
        image: url('./assets/svgs/bg-pattern-desktop.svg');
        repeat: no-repeat;
        position-x: -600px;
        position-y: -300px;

    };
    padding: 50px 35px;
    border-radius: 15px;
    box-shadow: 0px 10px 50px 0px rgba($color: #000000, $alpha: 0.5); 
    
}

.card__img, .card__content {
    width: 50%;
}

.card__img { 
    overflow: hidden;
    position: relative;
    left: -35px;
}

.card__img::after {
    content: url('./assets/svgs/illustration-box-desktop.svg');
    position: fixed;
    z-index: 1000; 
    margin-top: -230px;
    margin-left: -130px;
}

.img { 
    position: relative;
    left: -90px;
}

h3.card__title {
    font-size: 1.5em; 
    color: $veryDarkDesaturatedBlue;
}

.question.active { 
    font-weight: bold;    
}

.question:hover { 
    font-weight: 100;
    color: $softRed;  
    opacity: 0.5;  
}

.item__collaps {
    padding: {
        top: 15px;
        bottom: 15px;
    };
}

.response {
    display: none;
    margin-top: 15px;
}

.response.active {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

ul {
    height: 360px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}


li {
    cursor: pointer;
    list-style: none; 
    border-bottom: 1px solid $darkGrayishBlueOpa; 
}

.question {
    display: flex; 
    height: 25px;
}

.question__text {
    width: 75%;
}

.question> .item__arrow {  
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.arrow {  
	content: url('./assets/svgs/icon-arrow-down.svg'); 
	border: solid transparent; 
	transition: 0.2s; 
    width: 15px;
    height: 10px;
} 

.arrow.active { 
    transform:rotate(180deg);
} 
 