@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$fontSize: 12px;

* {
  padding: 0;
  margin: 0;
  font: {
    size: $fontSize;
    family: 'Kumbh Sans';
  };
}